data/benchmark/
data/EJOR/
data/teaching/
env/
inputs/*
!inputs/.gitkeep
outputs/*
!outputs/.gitkeep
src/checking/inputs/
src/deprecated/
src/drawing/inputs/
src/miscellaneous/
src/optimization/inputs/

__pycache__/
.idea/
.vscode/

src/checking/tests.py
src/drawing/tests.py
src/optimization/tests.py

todo.txt
.DS_Store